.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(200px,140px);
    gap: 30px;
    height: 30vh;
}

.draggable{
    font-size: 100px;
    /* border: 2px solid red; */
}
.drop-area{
    border: 2px solid red;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.drop-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(200px,200px);
    gap: 30px;
    height: 50vh;
}

